.faq {
  margin: 0 10%;
  padding: 12px 0;
}
.faq:not(:last-child) {
  border-bottom: 1px solid #323232;
}
.faq_question {
  padding: 12px 0;
  color: #c5c4c4;
  cursor: pointer;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}
.faq_question:hover {
  padding-left: 12px;
}
.faq_answer {
  max-height: 150px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.faq_answer.closed {
  max-height: 0;
}
