#row-hotas div {
  background: url("../../images/hardware/hotas.png") no-repeat center center/100%;
}
#row-trackir div {
  background: url("../../images/hardware/trackir.png") no-repeat center center/80%;
}
#row-monitor div {
  background: url("../../images/hardware/monitor.png") no-repeat center center/70%;
}
