group:last-child {
  padding-bottom: 72px;
}
group .group_title {
  margin-bottom: 12px;
  border-bottom: 1px solid #323232;
}
group .group_title p {
  padding: 30px 0;
}
.group_content a {
  display: inline-block;
  margin: 12px;
}
#group_modules a {
  height: 180px;
  width: 180px;
}
#group_merchandise a {
  height: 150px;
  width: 150px;
}
