#row-contact div {
  background: url("../../images/support/contact.png") no-repeat center center/70%;
}
#row-availability div {
  background: url("../../images/support/availability.png") no-repeat center center/70%;
}
#row-paypal div {
  background: url("../../images/support/paypal.png") no-repeat center center/60%;
}
#row-refunds div {
  background: url("../../images/support/refunds.png") no-repeat center center/70%;
}
