#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 48px);
  width: 360px;
  margin-top: 48px;
  padding-top: 24px;
  background-color: #f1f1f1;
}
.sidebar_module div {
  height: 36px;
  width: 100%;
  line-height: 36px;
  font-size: 18px;
  color: #3f3f3f;
  cursor: pointer;
}
.sidebar_category {
  padding: 0px 0px 0px 48px;
}
.sidebar_section {
  padding: 0px 0px 0px 96px;
}
